{% extends "app/layout.html" %}

{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'app/content/register.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-8">
        <section id="registerForm">
            <form method="POST" class="form-horizontal">
                {% csrf_token %}
                <h4>Create a new account.</h4>
                <h6>Join us today! It takes only a few steps.</h6>
                <hr />
                {% for field in registration_form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}" class="col-md-2 control-label">{{ field.label }}</label>
                    <div class="col-md-10">
                        {{ field }}
                        {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialRegisterForm"></section>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
{% endblock %}